@model IEnumerable<WebMagazine.Models.Seller>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}    </tbody>

    <h3>Soma do salário dos vendedores:</h3>
    <p>R$ @ViewData["CustoRH"]</p>
    <h3>Maior salário entre os vendedores:</h3>
    <p>R$ @ViewData["Maior"]</p>
    <h3>Menor salário entre os vendedores:</h3>
    <p>R$ @ViewData["Menor"]</p>
    <h3>Média salarial entre os vendedores:</h3>
    <p>R$ @ViewData["Media"]</p>
    <h3>Números de vendedores bem pagos:</h3>
    <p>@ViewData["Ricos"]</p>
</table>
